html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("https://s3.amazonaws.com/makeitreal/cars/jaguar-xe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.contenedor {
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
  margin: 55px;
  padding: 25px;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  max-width: 600px;
}

.contenedor p {
  font-size: 14px;
}

.contenedor button {
  width: 130px;
  padding: 10px;
  background: #DB3030;
  border: 1px solid #DB3030;
  font-size: 12px;
  color: white;
}
